.delivery-bg {
  background: var(--cor-2);
}

.delivery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 120px 0px;
  gap: 50px;
  align-items: center;
}

.imagem-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 10px;
}

.img-chef {
  grid-row: 1 /3;
  height: 600px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 25px;
}

.imagem-container img:nth-child(2) {
  margin-top: 25px;
}

.imagem-container img:nth-child(2),
.imagem-container img:nth-child(3) {
  width: 290px;
}

.imagem-container img {
  object-fit: cover;
  object-position: top right;
}

.events-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.events-info h2 {
  margin-bottom: 20px;
}

.events-list li {
  display: flex;
  gap: 18px;
  margin-bottom: 15px;
  align-items: center;
}

.events-list li > img {
  width: 24px;
  background: var(--cor-6);
  border-radius: 50%;
  padding: 5px;
  object-position: center;
}
